/* Stili per le sezioni */
section {
    padding: 80px 20px;
    text-align: center;
}

.services,
.about-us,
.testimonials,
.contact {
    padding: 20px;
    text-align: center;
}

.service-item,
.testimonial-item,
.blog-post {
    margin: 20px 0;
}

.service-item img,
.about-us img,
.blog-post img {
    max-width: 100px;
    margin-bottom: 10px;
}