.slider-container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.slick-slide img {
    display: block;
    width: 100%;
    height: auto;
}

.slick-dots li button:before {
    color: #0066cc;
}

.slick-prev:before,
.slick-next:before {
    color: #0066cc;
}