.slider-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slick-dots li button:before {
    color: #0066cc;
}

.slick-prev:before,
.slick-next:before {
    color: #0066cc;
}

.slide {
    position: relative;
}

.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slide-image {
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: center;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}

.overlay h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #0066cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #004c99;
}

/* Responsività per schermi più piccoli */
@media (max-width: 768px) {
    .overlay h2 {
        font-size: 1.8rem;
    }

    .overlay p {
        font-size: 1rem;
    }

    .slide {
        height: 350px;
        /* Riduce l'altezza del carosello su schermi piccoli */
    }
}

@media (max-width: 480px) {
    .overlay h2 {
        font-size: 1.5rem;
    }

    .overlay p {
        font-size: 0.9rem;
    }

    .slide {
        height: 300px;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}