@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Stili per le sezioni */
section {
    padding: 20px 20px;
    text-align: center;
}

.services {
    padding: 60px 0px;
    background-color: #e0f7fa;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.service-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
    margin-top: 0;
}

.service-item p {
    margin: 10px 0;
}

.service-item p {
    color: #333333;
}

.chi-siamo {
    text-align: center;
    padding: 50px 20px;
    background-color: #f0f0f0;
}

.chi-siamo-header {
    margin-bottom: 40px;
}

.socio {
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socio img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto;
}

.socio h3 {
    margin-top: 20px;
    font-size: 1.5em;
}

.socio p {
    margin: 10px 0;
}

.slick-prev,
.slick-next {
    color: #333;
}




.contact-preview {
    background-color: #FFFFFF;
    padding: 50px 20px;
    text-align: center;
}

.contact-preview h2 {
    color: #003366;
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-preview p {
    color: #333333;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #0066cc;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #004c99;
}

.contact-page {
    padding: 50px 20px;
    text-align: center;
}

.contact-page h2 {
    color: #003366;
    font-size: 2em;
    margin-bottom: 20px;
}

.contact-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-page form label {
    margin: 10px 0;
    font-size: 1.1em;
}

.contact-page form input,
.contact-page form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 5px 0;
}

.contact-page form button {
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-page form button:hover {
    background-color: #004c99;
}